<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p class='to-grow'>Welcome to
        <%= title %>
    </p>

    <h2 class='hvr-sweep-to-right'>Cool!
    </h2>
    <br />
    <h3 class='animated infinite rotateInDownRight'>Awesome</h3>

</body>

</html>