section p:first-of-type {
	color: red;
}
/*2 colons indicate pseudo-element (vs not a pseud class)*/
p::after {
	content: "hey there";
	/*injects text into each of the p elements, at the end (after)*/
	font-size: 20px;
}


/*#css positioning*/

display: block;
/*takes up the whole line*/
display: inline;
/*takes up the necessary space, not the whole line*/
/*elements with display: inline --> don't have margins on top and bottom, but padding is top/left/right/bottom*/
display: inline-block;
/*same as display: inline; but when margins are changed, takes in the whole margin - top/bottom/left/right*/

/*
display block elements:
-div, h1, p, ul, li, article, section

display inline elements:
-span, a, img, mark
*/

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

/*translate after, as within that element but the last element in it*/

.class {
	float: left;
	width: calc(100%/3);
}